* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(232, 232, 232); */
  }
.screen{
  background-color: rgb(232, 232, 232);
}
.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(147, 147, 147, 0.5);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}
.swiggyLogo {
    display: flex;
    width: 30%;
    align-items: center;
    margin-left: -1%;
}
.swiggyLogo>div:nth-child(1){
    width: 30%;
    /* border: 2px solid orange; */
    text-align: center;
}
.swiggyLogo>div:nth-child(1)>img {
    width: 80%;
}
.swiggyLogo>div:nth-child(2) {
    width: 70%;
}

.search{
    display: flex;
    width: 20%;
    padding-right: 50px;
    justify-content: space-between;
    /* align-items: center; */
}
.search>div{
    display: flex;
    align-items: center;
}
.search>div>i{
    opacity: 0.8;
    font-size: 20px;
    padding-right: 10px;
}
.search>div>p {
    font-size: 18px;
}
.search>div:nth-child(2)>p {
    margin-top: -3%;
}
.search>div:nth-child(2)>p>sup {
    color: orange;
    font-size: 12px;
    font-weight: bold;
}
/* ******Cart List****** */
.cart {
  /* background-color: rgb(232, 232, 232); */
  /* height: 1500px; */
  padding-top: 10%;
  padding-bottom: 10%;
}
.cart>div{
display: flex;
justify-content: space-between;
/* border: 2px solid black; */
width: 92%;
margin: auto;
}
.cart>div>div:nth-child(1){
  width: 67%;
  /* height: 100px; */
}
.borderLeft {
  border-left: 2px dashed #111;
  padding-left: 10px;
  padding-top: -30px;
}
.borderLeft>div:nth-child(2){
  margin-top: 3%;
}
.address{
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.address>div:nth-child(1){
  width: 40px;
  background-color: black;
  color: white;
  height: 40px;
  padding: 10px;
  margin-left: -4%;
  margin-top: 4%;
  text-align: center;  
}

.address>div:nth-child(2){
  width: 96%;
}
.address>div:nth-child(2)>h3{
  margin-top: 4%;
}
.address>div:nth-child(2)>p{
  color: gray;
  font-size: 17px;
}
.multiAdd{
  display: flex;
  margin-top: 4%;
  width: 95%; 
  justify-content: space-between;
  padding-bottom: 5%;
}
.multiAdd>div{
  padding: 20px;
  border: 1px solid rgb(203, 203, 203);
  width: 48%;
}
.multiAdd>div:hover{
  box-shadow: 0px 2px 10px rgb(0,0,0,0.5);
}
.addList {
  display: flex;
  justify-content: space-between;
}
.addList>div:nth-child(1){
  width: 10%;
}
.addList>div:nth-child(2){
  width: 85%;
}
.addList p {
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;  
}
.addList button {
  margin-top: 2%;
  border: none;
  outline: none;
  background-color: #60b246;
  padding: 10px;
  width: 50%;
  font-weight: bold;
  font-size: 16px;
}
.addAddr button{
  border: 1px solid #60b246;
  background-color: white;
  color: #60b246;
  margin-top: 15%;
}
.borderLeft>div:nth-child(2)>div:nth-child(2)>h2{
  color: gray;
  /* margin-top: 4%; */
}
.paymentMethod>h2{
  color: gray;
  margin-top: 5%;
}
.payment{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  width: 95%;
  margin-top: 3%;
  overflow-y: scroll;
}
.method{
  background-color: #edf1f7;
  width: 38%;
  padding: 20px;
}
.method>div{
  display: flex;
  padding: 10px;
  align-items: center;
  opacity: 0.6;
}
.method>div i{
  font-size: 26px;
  padding-right: 10px;
}
.pay{
  width: 55%;
}
.pay>div {
  border: 1px solid gray;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
.pay>div img{
  width: 10%;
}

.pay>div p{
  font-weight: bold;
}
.pay>div b{
  color: rgb(236,97,72);
}













.items{
  width: 30%;
}
.items>div:nth-child(1){
  background-color: white;
  padding: 20px 25px;
}
.itemTop{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 100%;
  box-shadow: 0px 15px 10px -15px #d1d1d1;
}
.itemTop>div:nth-child(1){
  width: 20%;  
}
.itemTop>div:nth-child(1)>img{
  width: 100%;  
}
.itemTop>div:nth-child(2){
  width: 75%;  
}
.itemList{
  overflow-y: scroll;
  height: 350px;
}
.item{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  font-size: 15px;
  align-items: center;
  width: 95%;
  margin-top: 10%;
  
}
.item>div:nth-child(1){
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.item>div:nth-child(1)>div:nth-child(1)>i{
  font-size: 7px;
  color: #02bf02;
  border: 1.5px solid #02bf02;
  padding: 3px;
}
.item>div:nth-child(1)>div:nth-child(2)>p:nth-child(2){
  font-size: 12px;
}
.selectQty{
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.selectQty>div:nth-child(1)>button{
  display: flex;
  padding: 2px;
  width: 50px;
  justify-content: space-around;
  background-color: white;
  border: 1px solid #04b104;
  color: #04b104;
  font-weight: bold;
  font-size: 15px;
}
.selectQty>div:nth-child(2){
  font-weight: 600;
  color: gray;
}
.quotes{
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 95%;
  margin-top: 10%;
}
.quotes>div:nth-child(1){
  width: 10%;
}
.quotes>div:nth-child(2){
  width: 90%;
  /* border: 1px solid black; */
}
.quotes>div:nth-child(2)>input{
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #ededed;
}
.optDelivery{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 5%;
  border: 1px solid rgb(186, 186, 186);
  padding: 10px 20px;
}
.optDelivery>div:nth-child(1){
  width: 10%;
}
.optDelivery>div:nth-child(2){
  width: 90%;
  font-size: 15px;
}
.optDelivery>div:nth-child(2)>p{
  margin-top: 2%;
  color: gray;
  font-size: 14px;
}
.coupon{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px dashed black;
  padding: 20px 20px;
  color: gray;
}
.coupon>div:nth-child(1){
  width: 10%;
}
.coupon>div:nth-child(1)>i{
  border: 1px solid gray;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
.coupon>div:nth-child(2){
  width: 85%;
  font-size: 16px;
  font-weight: bold;
}
.billDetail{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 3%;
  font-size: 15px;
  color: gray;
}
.billDetailed{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 3%;
  font-size: 15px;
  color: gray;
  padding: 20px 0px;
  border-bottom: 2px solid black;
  border-top: 1px solid gray;
}




.totalAmt{
  font-size: 16px;
  box-shadow: 0px -15px 10px -15px #d1d1d1;
}
.totalAmt>div{
  width: 93%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

}






.itemReview{
  margin-top: 10%;
  background-color: white;
  padding: 20px 25px;
}
.reviewNote{
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  padding: 15px 10px;
}
.reviewNote>div>p>strong{
  color: red;
  font-weight: 500;
}
.reviewNote>div>p{
  font-size: 14px;
  color: gray;
  margin-top: 5%;
}
.reviewNote>div>button{
  margin-top: 5%;
  color: rgb(236,97,72);
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 1px dotted rgb(236,97,72);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}



/* *****footer**** */

.footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contact {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
    width: 95%;
    margin: auto;
    background-color: black;
  }
  .contact > div {
    width: 100%;
    margin-top: 5%;
    /* height: 440px; */
    background-color: black;
  }
  .contact > div > h3 {
    color: gray;
    margin-bottom: 10%;
    font-size: 14px;
        background-color: black;
  }
  .contact > div > p {
    margin-top: 5%;
    font-size: 14px;
    background-color: black;
  }
  .contact > div:nth-child(4) {
    margin-top: 5%;
    margin-left: 30%;
    /* background-color: black; */
  }
  .contact > div:nth-child(4) > img:nth-child(1){
    background-color: black;
  } 
  .contact > div:nth-child(4) > img:nth-child(2) {
    margin-top: 10%;
    background-color: black;
  }
  .contact > div:nth-child(4) > img:hover {
    scale: 1.03;
    transition: 0.5s;
  }
  .footer > div:nth-child(2) {
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    background-color: black;
  }
  .footer > div:nth-child(2) > div:nth-child(1) > h3 {
    font-size: 14px;
    color: gray;
    background-color: black;
  }
  .cities {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  .cities > div{
    background-color: black;
  }
  .cities > div > p {
    font-size: 14px;
    margin-top: 20px;
    background-color: black;
  }
  .footerEnd {
    width: 95%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    align-items: center;
    background-color: black;
  }
  .swiggy {
    width: 25%;
    background-color: black;
  }
  .swiggy > img {
    width: 60%;
    background-color: black;
  }
  .copyright {
    font-size: 20px;
    width: 25%;
    background-color: black;
  }
  .connections{
    width: 15%;
    /* border: 1px solid white; */
    background-color: black;
  }
  .connections > div {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  .connections > div>i{
    background-color: black;
  }





  /* ******mediaQuery******** */
  @media screen and (max-width: 770px) and (min-width: 380px) {
    .swiggyLogo {
      width: 40%;
    }
    .search {
      width: 25%;
    }
    .search>div>p{
      font-size: 12px;
    }
    .search>div>i{
      font-size: 12px;
    }
    .cart>div{
      flex-direction: column;
    }
    .cart>div>div:nth-child(1){
      width: 95%;
      margin: auto;
    }
    .multiAdd{
      flex-direction: column;
    }
    .multiAdd>div{
      width: 100%;
      margin-top: 5%;
    }

    .items{
      width: 70%;
      margin: auto;
      margin-top: 4%;
    }
    .contact{
        flex-direction: column;
        width: 95%;
        text-align: center;
      }
      .contact > div > h3{
        margin-bottom: 3%;
      }
      .contact > div > p {
        margin-top: 1%;
        font-size: 14px;
      }
      .contact > div:nth-child(4) {
        margin-left: 0%;
        margin-top: -5%;
      }
      .swiggy {
        width: 20%;
      }
      .copyright {
        font-size: 15px;
      }
      .connections{
        width: 20%;
        font-size: 12px;
      }
  }