* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Homepage {
    width: 100%;
    height: 2000px;
}
.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(147, 147, 147, 0.5);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}
.swiggyLogo {
    display: flex;
    width: 33%;
    justify-content: space-between;
    align-items: center;
    margin-left: -1%;
}
.swiggyLogo>div:nth-child(1){
    width: 30%;
    /* border: 2px solid orange; */
    text-align: center;
}
.swiggyLogo>div:nth-child(1)>img {
    width: 80%;
}
.swiggyLogo>div:nth-child(2){
    display: flex;
    margin-left: -5%;
}
.swiggyLogo>div:nth-child(2)>p{
    opacity: 0.7;
    font-size: 14px;
}
.swiggyLogo>div:nth-child(2)>strong {
    border-bottom: 2px solid black;
    padding-bottom: 1%;
    opacity: 1;
    color: black;
    margin-right: 10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.swiggyLogo>div:nth-child(2)>i{
    color: orange;
    padding-left: 5px;
    margin-top: 2px;    
}
.search{
    display: flex;
    width: 50%;
    padding-right: 50px;
    justify-content: space-between;
    /* align-items: center; */
}
.search>div{
    display: flex;
    align-items: center;

}
.search>div>i{
    opacity: 0.8;
    font-size: 20px;
    padding-right: 10px;
}
.search>div>p {
    font-size: 18px;
}
.search>div:nth-child(2)>p {
    margin-top: -3%;
}
.search>div:nth-child(2)>p>sup {
    color: orange;
    font-size: 12px;
    font-weight: bold;
}
.content {
    width: 100%;
    /* height: 1000px; */
    border: 2px solid blue;
    margin-top: 10%;
}
.content>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 70px;
    margin: auto;
    border-bottom: 1px solid gray;
    align-items: center;
}
.content>div:nth-child(1)>div:nth-child(1){
    /* border: 2px solid black; */
    width: 20%;
}
.content>div:nth-child(1)>div:nth-child(1)>h1{
    font-size: 30px;
}
.content>div:nth-child(1)>div:nth-child(2){
    display: flex;
    /* border: 2px solid black; */
    width: 62%;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 100;
    align-items: center;
}
.content>div:nth-child(1)>div:nth-child(2)>div:nth-child(6){
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.7;
}
.content>div:nth-child(1)>div:nth-child(2)>div:nth-child(6)>i{
    font-size: 14px;
    border: 2px solid #ff9615;
    color: orange;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
}
.restaurants {
    border: 2px solid black;
    width: 98%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2%;
}
.restaurants>div {
    border: 1px solid red;
    width: 23%;
    height: 380px;
    margin-bottom: 4%;
}
.restaurants>div>div:nth-child(1){
    border: 1px solid blue;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.restaurants>div>div:nth-child(1)>img {
    width: 100%;
}
























/* *****footer**** */

.footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .contact {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
    width: 95%;
    margin: auto;
  }
  .contact > div {
    width: 100%;
    margin-top: 5%;
    /* height: 440px; */
  }
  .contact > div > h3 {
    color: gray;
    margin-bottom: 10%;
    font-size: 14px;
  }
  .contact > div > p {
    margin-top: 5%;
    font-size: 14px;
  }
  .contact > div:nth-child(4) {
    margin-top: 5%;
    margin-left: 30%;
  }
  .contact > div:nth-child(4) > img:nth-child(2) {
    margin-top: 10%;
  }
  .contact > div:nth-child(4) > img:hover {
    scale: 1.03;
    transition: 0.5s;
  }
  .footer > div:nth-child(2) {
    border-bottom: 1px solid gray;
    padding-bottom: 2%;
    width: 95%;
    margin: auto;
    margin-top: 2%;
  }
  .footer > div:nth-child(2) > div:nth-child(1) > h3 {
    font-size: 14px;
    color: gray;
  }
  .cities {
    display: flex;
    justify-content: space-between;
  }
  .cities > div > p {
    font-size: 14px;
    margin-top: 20px;
  }
  .footerEnd {
    width: 95%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    align-items: center;
  }
  .footerEnd > div {
    width: 25%;
  }
  .swiggy > img {
    width: 60%;
  }
  .copyright {
    font-size: 20px;
    margin-left: 180px;
  }
  .connections > div {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
  }
  