* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 2000px;
}
.header {
  display: flex;
  width: 100%;
  /* height: 27%; */
  /* border: 2px solid blue; */
}

.header > div:nth-child(1) {
  width: 56%;
  /* border: 2px solid black; */
}
.location {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 8%;
  /* border: 1px solid black; */
  justify-content: space-between;
}
.location > div {
  display: flex;
  /* border: 2px solid cyan; */
  align-items: center;
}
.location > div:nth-child(1) {
  /* padding: 10px; */
  width: 45%;
}

.location > div:nth-child(1) > div:nth-child(1) > img {
  width: 100%;
  /* border: 1px solid black; */
  margin-left: -25px;
}
.location > div:nth-child(1) > div:nth-child(2) {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  letter-spacing: 5px;
  position: relative;
  left: -18%;
  color: #ff5d0d;
}
.location > div:nth-child(2) {
  width: 28%;
  justify-content: space-between;
}
.location > div:nth-child(2) > button {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 12px;
}

.location > div:nth-child(2) > button:nth-child(1) {
  background-color: white;
}
.location > div:nth-child(2) > button:nth-child(2) {
  background-color: black;
  color: white;
  width: 100%;
}
.title {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title > h1 {
  font-size: 40px;
}
.title > p {
  opacity: 0.8;
  margin-top: 1%;
  font-size: 22px;
}
.enterLocation {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border: 1px solid;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}
.enterLocation > div:nth-child(1) {
  display: flex;
  width: 78%;
  justify-content: space-between;
  padding: 20px;
}
.enterLocation > div:nth-child(1) > input {
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 550;
  opacity: 0.7;
}
.enterLocation > div:nth-child(1) > div:nth-child(2) {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.enterLocation > div:nth-child(1) > div:nth-child(2) > i {
  padding-right: 5px;
}
.enterLocation > div:nth-child(2) {
  width: 22%;
  background-color: #ff5d0d;
}
.enterLocation > div:nth-child(2) > button {
  border: none;
  outline: none;
  background-color: #ff5d0d;
  font-size: 17px;
  color: white;
  padding: 17px;
  font-weight: bold;
  width: 100%;
  height: 61px;
}
.enterLocation > div:nth-child(2) > button>a{
  color: white;
  text-decoration: none;
}
.header > div:nth-child(1) > div:nth-child(4) {
  width: 90%;
  margin: auto;
  margin-top: 4%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header > div:nth-child(1) > div:nth-child(4) > h4 {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.6;
}
.header > div:nth-child(1) > div:nth-child(4) p {
  padding-right: 5px;
}
.header > div:nth-child(1) > div:nth-child(4) > :nth-child(2) {
  display: flex;
  margin-top: 2%;
  font-weight: bold;
  font-size: 13px;
  flex-wrap: wrap;
}
.header
  > div:nth-child(1)
  > div:nth-child(4)
  > :nth-child(2)
  > p:nth-child(even) {
  opacity: 0.6;
}
.header > div:nth-child(1) > div:nth-child(4) > :nth-child(3) {
  display: flex;
  font-weight: bold;
  font-size: 13px;
  flex-wrap: wrap;
  margin-top: 1%;
}
.header
  > div:nth-child(1)
  > div:nth-child(4)
  > :nth-child(3)
  > p:nth-child(even) {
  opacity: 0.6;
}
.header > div:nth-child(2) {
  width: 44%;
  overflow: hidden;
}
.header > div:nth-child(2) > img {
  width: 100%;
  scale: 1.1;
}
/* ****section1**** */
.section1 {
  background-color: rgb(46, 3, 3);
  width: 100%;
  padding-bottom: 7%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section1 > div {
  display: flex;
  /* height: 80%; */
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
.section1 > div > div {
  /* border: 2px solid white; */
  width: 23%;
  text-align: center;
  color: white;
}
.section1 > div > div > div > img {
  width: 42%;
  padding-bottom: 10%;
}
.section1 > div > div > h4 {
  font-size: 16px;
}
.section1 > div > div > p {
  opacity: 0.8;
  font-size: 13px;
  margin-top: 3%;
}
.section1 > div > div:nth-child(3) > div > img {
  margin-top: 12%;
}
/* *******section2******* */
.section2 {
  /* background-color: gray; */
  width: 100%;
  height: 28%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2 > div {
  display: flex;
  width: 95%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}
.section2 > div > div:nth-child(1) {
  align-self: center;
  width: 35%;
  /* border: 2px solid; */
}
.section2 > div > div:nth-child(1) > h3 {
  font-size: 38px;
  font-weight: 550;
}
.section2 > div > div:nth-child(1) > p {
  opacity: 0.7;
  margin-top: 5%;
  font-size: 18px;
}
.download {
  display: flex;
  margin-top: 10%;
}
.download > img {
  width: 47%;
}
.download > img:nth-child(1) {
  margin-right: 20px;
}

.section2 > div > div:nth-child(2) {
  display: flex;
  width: 60%;
}
.section2 > div > div:nth-child(2) > div {
  width: 50%;
  position: relative;
  left: 5%;
}
.section2 > div > div:nth-child(2) > div > img {
  width: 100%;
}
.section2 > div > div:nth-child(2) > div:nth-child(2) > img {
  position: absolute;
  bottom: 0;
  left: -5%;
}

/* *****footer**** */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact {
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  width: 95%;
  margin: auto;
}
.contact > div {
  width: 100%;
  margin-top: 5%;
  /* height: 440px; */
}
.contact > div > h3 {
  color: gray;
  margin-bottom: 10%;
  font-size: 14px;
}
.contact > div > p {
  margin-top: 5%;
  font-size: 14px;
}
.contact > div:nth-child(4) {
  margin-top: 5%;
  margin-left: 30%;
}
.contact > div:nth-child(4) > img:nth-child(2) {
  margin-top: 10%;
}
.contact > div:nth-child(4) > img:hover {
  scale: 1.03;
  transition: 0.5s;
}
.footer > div:nth-child(2) {
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  width: 95%;
  margin: auto;
  margin-top: 2%;
}
.footer > div:nth-child(2) > div:nth-child(1) > h3 {
  font-size: 14px;
  color: gray;
}
.cities {
  display: flex;
  justify-content: space-between;
}
.cities > div > p {
  font-size: 14px;
  margin-top: 20px;
}
.footerEnd {
  width: 95%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
  align-items: center;
}
.swiggy {
  width: 25%;
}
.swiggy > img {
  width: 60%;
}
.copyright {
  font-size: 20px;
  width: 25%;
}
.connections{
  width: 15%;
  /* border: 1px solid white; */
}
.connections > div {
  display: flex;
  justify-content: space-between;
}

/* ******mediaQuery****** */
@media screen and (max-width: 770px) {
  .header > div:nth-child(2){
    display: none;
  }
  .header > div:nth-child(1){
    width: 100%;
  }
  .section1>div {
    flex-direction: column;
  }
  .section1 > div > div{
    width: 50%;
    margin: auto;
  }
  .section2 > div>div:nth-child(1){
    width: 70%;
    margin: auto;
  }
  .section2 > div>div:nth-child(2){
    border: 1px solid red;
    display: none;
  }
  .contact{
    flex-direction: column;
    width: 95%;
    text-align: center;
  }
  .contact > div > h3{
    margin-bottom: 3%;
  }
  .contact > div > p {
    margin-top: 1%;
    font-size: 14px;
  }
  .contact > div:nth-child(4) {
    margin-left: 0%;
    margin-top: -5%;
  }
  .swiggy {
    width: 20%;
  }
  .copyright {
    font-size: 15px;
  }
  .connections{
    width: 20%;
    font-size: 12px;
  }

}